:global {
  body,
  html {
    padding: 0;
    margin: 0;
  }

  body {
    width: 450px;
    font-family: sans-serif;
    font-size: 10pt;
    color: #333333;
  }
}

.title {
  font-size: 1.5em;
  color: #fff;
  background: #54ae53;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  display: flex;
  position: relative;
}

.weekButtonWrapper {
  position: absolute;
  text-align: center;
  bottom: -10px;
  left: 50%;
  right: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.weekButton {
  border: 1px solid orange;
  cursor: pointer;
  font-size: 1rem;
  margin-right: -1px;
  background-color: #fff;
  color: orange;
  padding: 2px 10px;
}

.weekButton:first-child {
  border-radius: 10px 0 0 10px;
}

.weekButton:last-child {
  border-radius: 0 10px 10px 0;
}

.weekButton:hover {
  background-color: #fff2ee;
}

.weekButton.active {
  background-color: orange;
  border-color: orange;
  color: #fff;
}

.weekButton.active {
  cursor: default;
}

.title-text img {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.title-text {
  display: flex;
  align-items: center;
  padding: 10px 10px 20px;
  /*transition: padding 1s;*/
}

.nextPrevWeek {
  border: none;
  background: transparent;
  color: orange;
  font-size: 3rem;
  padding: 0;
  flex: 1;
  cursor: pointer;
  text-shadow: 0 1px 0 orange;
}

.nextPrevWeek:hover  {
  background: rgba(0, 0, 0, 0.1);
}

#updated-date {
  font-size: 0.6em;
  color: rgba(255, 255, 255, 0.6);
}

#not-loaded {
  padding: 5px 10px;
  background-color: red;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 10px;
  text-align: center;
}

#not-loaded,
#not-loaded a {
  color: #fff;
}

.week {
  display: flex;
  padding: 15px 10px;
  border-bottom: 1px solid #ddd;
}

.week:last-child {
  border-bottom: none;
}

.week.today {
  background: rgba(84, 174, 83, 0.13);
}

.week__order {
  padding: 0 10px;
  flex: 1;
}

.week__name {
  margin: 0 5px;
  border-radius: 5px;
  height: 40px;
  min-width: 56px;
  border: 1px solid #4ca9d4;
  text-align: center;
  color: #4ca9d4;
  background: #fff;
  overflow: hidden;
}

.name {
  text-align: center;
  background-color: #4ca9d4;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.4;
}

.day {
  line-height: 1.6;
}

.week.today .week__name {
  border: 1px solid #54ae53;
  color: #54ae53;
}

.week.today .name {
  background-color: #54ae53;
}

.order {
  line-height: 1.3;
}

.order > i {
  color: #999;
}

.contractor:empty {
  display: none;
}

.contractor {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #c7e5fc;
  margin-top: 5px;
  padding: 2px 7px;
  font-size: 0.9em;
  background: rgba(255, 255, 255, 0.5);
  color: #555;
}

.week.today .contractor {
  border: 1px solid rgba(84, 174, 83, 0.5);
}

.buttons {
  display: flex;
  width: 100%;
  margin-top: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.buttons a {
  flex: 1 1;
  display: inline-block;
  padding: 7px;
  text-align: center;
  color: #fff;
  background: #54ae53;
  border: 2px solid #54ae53;
  border-radius: 10px;
  cursor: pointer;
  margin: 15px 20px;
}

.buttons a:first-child {
  margin-right: 10px;
}

.buttons a:last-child {
  margin-left: 10px;
}

.buttons a#openOptions {
  background: #fff;
  color: #54ae53;
}

#warning:empty,
#error:empty {
  padding-top: 0;
  padding-bottom: 0;
}

#warning,
#error {
  background: red;
  color: #fff;
  padding: 20px 15px 15px;
}

#warning {
  text-align: center;
  margin-bottom: 25px;
}

#error:not(:empty) + #warning {
  display: none;
}

#error:not(:empty) + #warning,
#error + #warning:not(:empty) {
  margin-bottom: 0;
}

.remove {
  color: red;
  border: 1px solid red;
}

.repeat {
  color: orange;
  border: 1px solid orange;
}

.remove,
.repeat {
  font-size: 2rem;
  font-weight: 100;
  line-height: 1;
  border-radius: 50%;
  cursor: pointer;
  height: 36px;
  width: 36px;
  padding: 0;
  background-color: #fff;
  position: relative;
}

.remove:hover {
  background-color: #ffd1d5;
}

.repeat:hover {
  background-color: #fff2ee;
}

.remove[disabled]:hover,
.repeat[disabled]:hover {
  cursor: default;
}

.remove.hidden,
.repeat.hidden {
  display: none;
}

.remove.spinning,
.repeat.spinning {
  color: #fff;
  border: 1px solid #fff;
  animation: repeat-spin 1s linear infinite;
}

.remove.spinning {
  background-color: red;
}

.remove.spinning:after,
.remove.spinning:before {
  border-color: #fff;
}

.repeat:before,
.repeat:after {
  content: '';
  display: block;
}

.repeat:before {
  border-color: transparent orange orange orange;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  top: 20%;
  left: 20%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 20%;
  bottom: 20%;
  position: absolute;
}

.repeat:after {
  border-color: transparent transparent transparent orange;
  border-style: solid;
  border-width: 3px 0 3px 5px;
  height: 0;
  position: absolute;
  top: 15%;
  left: 50%;
  width: 0;
}

.repeat.spinning:before {
  border-color: transparent #fff #fff #fff;
}

.repeat.spinning:after {
  border-color: transparent transparent transparent #fff;
}

.remove:after,
.remove:before {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 15%;
  right: 15%;
  border-top: 1px solid red;
  transform: rotate(45deg);
}

.remove:before {
  transform: rotate(-45deg);
}

.repeat.spinning {
  background-color: orange;
}

@keyframes repeat-spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
