/* SYSTEM STYLES */
a.__ITDXER_order_button {
  cursor: pointer;
  color: #fff;
  background: #54ae53;
  border-radius: 15px;
  text-decoration: none;
  text-transform: none;
  padding: 2px 8px;
  display: block;
  -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
}

a.__ITDXER_order_button:hover {
  background: #62d135;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
}


/* OTHER STYLES */
body .suppliers .container #cart {
  display: none;
}

body .suppliers .tab-content {
  margin: 0 auto;
}

body .suppliers .tab-content a.btn.btn-success.buy {
  display: none;
}

body .suppliers .menu-item__content {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: solid 1px #dfdfdf;
  border-radius: 10px;
}

body .suppliers .menu-item__content:hover {
  border: solid 1px #ddd;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

body .suppliers .calendar .btn {
  width: 100%;
}

body .suppliers .calendar .btn:hover {
  background: #eee;
}

body .suppliers .new-tabs .active,
body .suppliers .restaurants__nav .active {
  background: #c7e5fc;
}

body .suppliers .new-tabs .active a {
  background: #c7e5fc !important;
  text-decoration: underline;
}

body .suppliers .new-tabs a {
  text-decoration: underline;
}

body .suppliers .menu-item__content > h4 > img[src="/images/vegan.png"] {
  position: absolute;
  height: 80px;
  width: 80px;
  bottom: -10px;
  left: -10px;
  border-radius: 50%;
}

body .suppliers .menu-item__hidden {
  height: auto;
  min-height: 0;
  max-height: none;
  font-size: inherit;
  color: inherit;
  font-style: inherit;
}

body .suppliers .hidden-show {
  display: none;
}

body .suppliers .menu-item__info {
  padding: 0;
  border: 0 none;
}

body .suppliers .menu-item__content > img {
  float: left;
  width: 170px;
}

body .suppliers .menu-item__content > img[src="/images/no-image.png"] {
  height: 120px;
  opacity: 0.4;
  z-index: 1;
}

body .suppliers .__ITDXER_oneClickBuy {
  font-size: 1em;
  border-radius: 10px;
  padding: 7px 50px;
  transition: none;
}

body .suppliers .__ITDXER_oneClickBuy:hover {
  transform: none;
}

/* --experiment-- in row */
body .suppliers .menu-item {
  width: 100%;
}

body .suppliers .menu-item__content > img {
  margin-top: -35px;
}

body .suppliers .menu-item__content > h4 {
  min-height: 0;
  margin-right: 80px;
}

body .suppliers .menu-item__content > h4,
body .suppliers .menu-item__content > .menu-item__hidden,
body .suppliers .menu-item__content > .menu-item__info {
  margin-left: 190px;
}

body .suppliers .menu-item__info > span:nth-child(2) {
  display: none;
}

body .suppliers .menu-item__hidden {
  padding-bottom: 0;
  color: #555;
}

body .suppliers .menu-item__content > h4 > img[src="/images/vegan.png"] {
  position: absolute;
  height: 60px;
  width: 60px;
  bottom: 20px;
  left: 0;
  border-radius: 50%;
  z-index: 1;
}

/** --experiment-- delimiter **/
body .suppliers .menu-item__content:hover,
body .suppliers .menu-item__content {
  border: 0 none;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  margin: 0;
  padding: 30px 10px;
}

body .suppliers .menu-item__content:hover {
  background: #f9f9f9;
}

/** TABS **/
body .suppliers .restaurants {
  padding: 0;
}

body .suppliers .restaurants__nav {
  display: flex
}

body .suppliers .restaurants__nav li:first-child,
body .suppliers .restaurants__nav li:last-child,
body .suppliers .restaurants__nav li {
  line-height: 1;
  padding: 20px 30px;
}

body .suppliers .restaurants__nav li > a[href^="/order?"] {
  line-height: 1.5;
  font-weight: 600;
}

body .suppliers .nav.nav-tabs.new-tabs {
  display: block;
}

body .suppliers .nav.nav-tabs.new-tabs > li {
  display: inline-block;
  border-radius: 10px;
}

body .suppliers .nav.nav-tabs.new-tabs > li:first-child {
  padding-left: 30px;
}

body .suppliers .__ITDXER_star {
  top: 20px;
  right: 20px;
  position: absolute;
}

body .suppliers .__ITDXER_star > button {
  background: transparent;
  border: 0 none;
  font-size: 2em;
  padding: 0 6px;
}

body .suppliers .__ITDXER_filters {
  padding: 0 40px;
  text-align: center;
}

body .suppliers .__ITDXER_search_input {
  display: block;
  font-size: 1.5rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: auto auto 15px;
  width: 100%;
  max-width: 500px;
}

.__HIGHLIGHTED {
  background-color: #ff0;
}

.__ITDXER_checkbox_label_ordered,
.__ITDXER_checkbox_label_vegan,
.__ITDXER_checkbox_label_favorite {
  padding: 0 10px;
}


.__ITDXER_menu-item__categories {
  margin-left: 190px;
  margin-bottom: 10px;
  line-height: 2;
}

.__ITDXER_menu-item__category {
  background: #c7e5fc;
  border-radius: 15px;
  padding: 0 10px;
  color: #333;
  display: inline-block;
  margin-right: 6px;
  cursor: pointer;
  line-height: 1.5;
}

.__ITDXER_dish_count {
  min-width: 37px;
  height: 37px;
  background: #eee;
  line-height: 2.2em;
  text-align: center;
  font-size: 1.7rem;
  border-radius: 10px;
  margin-right: 5px;
  float: right;
}

.__ITDXER_contractor_count {
  display: inline-block;
  background: #eee;
  padding: 2px 4px;
  margin-left: 5px;
  border-radius: 5px;
}

.__ITDXER_checkbox_icon_ordered {
  background: #eee;
  border-radius: 3px;
  display: inline-block;
  font-weight: normal;
  padding: 0 5px;
}

.suppliers .suppliers-content .container > .tab-content > .tab-pane.active {
  display: flex;
  flex-direction: column;
}

.__ITDXER_first_partially_matched::before {
  content: "Partially matched";
  display: block;
  text-align: center;
  font-size: 1em;
  padding: 20px;
  margin-top: 100px;
  border-bottom: 1px solid #ddd;
  font-weight: 600;
}
