/* CART */
body .suppliers .container #cart {
  display: none;
}

#bs-example-navbar-collapse-1 .cart-container {
  width: 0;
  padding: 0;
  overflow: hidden;
  margin: 0 10px;
}

/* Hide buy button */
body .suppliers .tab-content a.btn.btn-success.buy {
  display: none;
}

/* wide carts */
body .suppliers-content .tab-content {
  width: 100%;
  max-width: 1000px;
}

body .suppliers .tab-content {
  margin: 0 auto;
}

body .suppliers .menu-item__content {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: solid 1px #dfdfdf;
  border-radius: 10px;
}

body .suppliers .menu-item__content:hover {
  border: solid 1px #ddd;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

body .suppliers .calendar .btn {
  width: 100%;
}

body .suppliers .calendar .btn:hover {
  background: #eee;
}

body .suppliers .new-tabs .active,
body .suppliers .restaurants__nav .active {
  background: #c7e5fc;
}

body .suppliers .new-tabs .active a {
  background: #c7e5fc !important;
  text-decoration: underline;
}

body .suppliers .new-tabs a {
  text-decoration: underline;
}

body .suppliers .menu-item__content > h4 > img[src='/images/vegan.png'] {
  position: absolute;
  height: 80px;
  width: 80px;
  bottom: -10px;
  left: -10px;
  border-radius: 50%;
}

body .suppliers .menu-item__hidden {
  height: auto;
  min-height: 0;
  max-height: none;
  font-size: inherit;
  color: inherit;
  font-style: inherit;
}

body .suppliers .hidden-show {
  display: none;
}

body .suppliers .menu-item__info {
  padding: 0;
  border: 0 none;
}

body .suppliers .menu-item__content > img {
  float: left;
  width: 170px;
}

body .suppliers .menu-item__content > img[src='/images/no-image.png'] {
  height: 120px;
  opacity: 0.4;
  z-index: 1;
}

/* --experiment-- in row */
body .suppliers .menu-item {
  width: 100%;
}

body .suppliers .menu-item__content > img {
  margin-top: -35px;
}

/* Space for fav and star icons */
body .suppliers .menu-item__content > h4 {
  min-height: 0;
  margin-right: 205px;
}

body .suppliers .menu-item__content > h4,
body .suppliers .menu-item__content > .menu-item__hidden,
body .suppliers .menu-item__content > .menu-item__info {
  margin-left: 190px;
}

body .suppliers .menu-item__info > span:nth-child(2) {
  display: none;
}

body .suppliers .menu-item__hidden {
  padding-bottom: 0;
  color: #555;
}

body .suppliers .menu-item__content > h4 > img[src='/images/vegan.png'] {
  position: absolute;
  height: 60px;
  width: 60px;
  bottom: 20px;
  left: 0;
  border-radius: 50%;
  z-index: 1;
}

/** --experiment-- delimiter **/
body .suppliers .menu-item__content:hover,
body .suppliers .menu-item__content {
  border: 0 none;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  margin: 0;
  padding: 30px 10px;
}

body .suppliers .menu-item__content:hover {
  background: #f9f9f9;
}

/** TABS **/
body .suppliers .restaurants {
  padding: 0;
}

body .suppliers .restaurants__nav {
  display: flex;
}

body .suppliers .restaurants__nav li:first-child,
body .suppliers .restaurants__nav li:last-child,
body .suppliers .restaurants__nav li {
  line-height: 1;
  padding: 20px 30px;
}

body .suppliers .restaurants__nav li > a[href^='/order?'] {
  line-height: 1.5;
  font-weight: 600;
}

body .suppliers .nav.nav-tabs.new-tabs {
  display: block;
  line-height: 2em;
}

body .suppliers .nav.nav-tabs.new-tabs > li {
  display: inline-block;
  border-radius: 10px;
}

body .suppliers .nav.nav-tabs.new-tabs > li:first-child {
  padding-left: 30px;
}

.suppliers .suppliers-content .container {
  overflow: visible;
}

.suppliers .suppliers-content .container > .tab-content > .tab-pane.active {
  display: flex;
  flex-direction: column;
}
