.__ITDXER_rating {
  position: absolute;
  top: 20px;
  right: 65px;
  color: #ffcc00;
  font-size: 2em;
  cursor: pointer;
}

.__ITDXER_rating .star {
  color: #ff9800;
}

.__ITDXER_rating .shadow {
  color: #ffe97c;
}

.__ITDXER_rating .avg-rating {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 0;
}

.__ITDXER_rating .user-rating {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 0;
}

.__ITDXER_rating:hover .user-rating {
  width: 100% !important;
}

.__ITDXER_rating:hover .user-rating .star:hover ~ .star {
  opacity: 0;
}


.__ITDXER_rating .delete {
  position: absolute;
  display: none;
  bottom: 0;
  right: 100%;
  font-size: 0.6em;
  padding: 6px;
  opacity: 0.3;
}

.__ITDXER_rating.user-rated:hover .delete {
  display: block;
}

.__ITDXER_rating .delete:hover {
  opacity: 1;
}

.__ITDXER_rating .delete:hover ~ .user-rating {
  opacity: 0;
}
