.__ITDXER_spinner {
  position: fixed;
  top: 20px;
  left: 10px;
  display: none;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  background: #4ca9d4;
  box-shadow: 0 0 0 5px #4ca9d4;
}

.__ITDXER_spinner.spinning {
  display: inline-block;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
