//TODO: rename to "order"
.week {
  display: flex;
  padding: 15px 10px;
  border-bottom: 1px solid #ddd;
}

.week:last-child {
  border-bottom: none;
}

.week.today {
  background: rgba(84, 174, 83, 0.13);
}

.week__order {
  padding: 0 10px;
  flex: 1;
}

.week__name {
  margin: 0 5px;
  border-radius: 5px;
  height: 40px;
  min-width: 56px;
  border: 1px solid #4ca9d4;
  text-align: center;
  color: #4ca9d4;
  background: #fff;
  overflow: hidden;
}

.name {
  text-align: center;
  background-color: #4ca9d4;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.4;
}

.day {
  line-height: 1.6;
}

.week.today .week__name {
  border: 1px solid #54ae53;
  color: #54ae53;
}

.week.today .name {
  background-color: #54ae53;
}

.dishName {
  line-height: 1.3;
}

.dishName > i {
  color: #999;
}

.contractor:empty {
  display: none;
}

.contractor {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #c7e5fc;
  margin-top: 5px;
  padding: 2px 7px;
  font-size: 0.9em;
  background: rgba(255, 255, 255, 0.5);
  color: #555;
}

.week.today .contractor {
  border: 1px solid rgba(84, 174, 83, 0.5);
}

.remove {
  color: red;
  border: 1px solid red;
}

.repeat {
  color: orange;
  border: 1px solid orange;
}

.remove,
.repeat {
  font-size: 2rem;
  font-weight: 100;
  line-height: 1;
  border-radius: 50%;
  cursor: pointer;
  height: 36px;
  width: 36px;
  padding: 0;
  background-color: #fff;
  position: relative;
}

.remove:hover {
  background-color: #ffd1d5;
}

.repeat:hover {
  background-color: #fff2ee;
}

.remove[disabled]:hover,
.repeat[disabled]:hover {
  cursor: default;
}

.remove.hidden,
.repeat.hidden {
  display: none;
}

.remove.spinning,
.repeat.spinning {
  color: #fff;
  border: 1px solid #fff;
  animation: repeat-spin 1s linear infinite;
}

.remove.spinning {
  background-color: red;
}

.remove.spinning:after,
.remove.spinning:before {
  border-color: #fff;
}

.repeat:before,
.repeat:after {
  content: '';
  display: block;
}

.repeat:before {
  border-color: transparent orange orange orange;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  top: 20%;
  left: 20%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 20%;
  bottom: 20%;
  position: absolute;
}

.repeat:after {
  border-color: transparent transparent transparent orange;
  border-style: solid;
  border-width: 3px 0 3px 5px;
  height: 0;
  position: absolute;
  top: 15%;
  left: 50%;
  width: 0;
}

.repeat.spinning:before {
  border-color: transparent #fff #fff #fff;
}

.repeat.spinning:after {
  border-color: transparent transparent transparent #fff;
}

.remove:after,
.remove:before {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 15%;
  right: 15%;
  border-top: 1px solid red;
  transform: rotate(45deg);
}

.remove:before {
  transform: rotate(-45deg);
}

.repeat.spinning {
  background-color: orange;
}
.repeat.onlyDayOrdering {
  background-color: #aaa;
}
@keyframes repeat-spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
