body {
  margin: auto;
  padding: 20px;
  width: 400px;
  font-family: sans-serif;
  font-size: 10pt;
}

.title {
  display: flex;
}

.title > img {
  height: 48px;
  width: 48px;
}

.title > h3 {
  padding: 6px 0 6px 10px;
  margin: 0;
}

form {
  margin-top: 40px;
}

table {
  margin: auto;
  opacity: 0.3;
}

table.notifications-enabled {
  opacity: 1;
}

.enable-notifications-wrapper,
.submit-wrapper {
  text-align: center;
}

input[type=submit] {
  font-size: 1.2em;
}

#changes-saved {
  text-align: center;
  font-weight: 700;
  color: green;
  height: 0;
  /*margin: 0;*/
  /*padding: 0;*/
  overflow: hidden;
  transition: all 0.4s;
}

#changes-saved.shown {
  height: 20px;
}
